.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.logo-container {
  padding: 5px;
}

.nav {
  padding: 0px 10px;
}

.nav>ul {
  display: flex;
  /* font-size: 24px; */
  list-style-type: none;
}

.nav>ul>li {
  margin: 10px;
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  width: 200px;
  flex-grow: 1;
  padding: 5px;
  background-color: #f0f0f0;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  padding: 5px;
  width: 190px;
  height: 100px;
}

.filter-btn {
  padding: 5px;
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 20px;
  width: 200px;
  height: 350px;
  border: 1px solid black;
  background: '#f0f0f0';
}

.login{
  padding: 0px 20px;
  cursor: pointer;
}

.filter{
  display: flex;
}

.search-box{

}

.user-card{
  border: 1px solid black;
  padding: 10px;
  flex-wrap: wrap;
}